<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_QuadTech;Integrated Security=True" />
		<add name="CloudConnection"
			 connectionString="Data Source=db34273.public.databaseasp.net;Initial Catalog=db34273;Persist Security Info=True;User ID=db34273;Password=B?p4n9_Y@Q6i;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>
