<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_QuadTech;Integrated Security=True" />
		<add name="CloudConnection"
			 connectionString="Data Source=db34089.public.databaseasp.net;Initial Catalog=db34089;Persist Security Info=True;User ID=db34089;Password=9Ch?b3!B2Sm%;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>
